@import url(https://fonts.google.com/specimen/Nunito+Sans);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito-Sans', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

header {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}

/* Dark mode toggle button */
.btn-toggle {
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-toggle .fas {
  display: none;
}

body.dark .btn-toggle .fas {
  display: inline-block;
}

body.dark .btn-toggle .far {
  display: none;
}

/* Input search area styling */
.search {
  border-radius: 4px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  padding: 25px;
  min-width: 300px;
}

.dropdown {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.dropdown ul {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  position: absolute;
  width: 100%;
  padding: 20px;
  left: 0;
  top: 100%;
  list-style-type: none;
}

.dropdown.open ul {
  display: block;
}

.dropdown ul li {
  margin: 5px 0;
}

.dropdown .fa-chevron-down {
  margin-left: 10px;
}

/* Country Card/section styling */
.card {
  width: 300px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
}

.card-body {
  padding: 30px;
}

.card-body h2 {
  margin-top: 0;
}

.container.countries {
  justify-content: center;
}
